$principal: #2B3063;
$principal-h: #222439;
$txtColor: #787878;
$txtColorGrey: #ccc;
$black: #333333;
$secondary: #E6C352;
$secondary-h: #d8c17b;
$boxGradient: linear-gradient(90deg, #ECD9A1, #E6C352);
$bg:#fff;
$bgTw: #F9F9FF;
$btnGreen:#25d366;
$btnGreenHover:#1ebe5d;
$bgTransparent: rgba(245, 245, 245,95%);
$ff: "Panton", sans-serif;
$fs: "Aller", sans-serif;
$ff-dsc: 200 1.4rem $fs;
$ff-dsc-mm: 200 1.8rem/2.8rem $fs;
$ff-dsc-hm: 200 2rem/3.2rem $fs;
$ff-spacing-dsc: .08rem;
$ff-st: 800 1.6rem $fs;
$ff-h1-sm: 900 2.4rem/2.8rem $ff;
$ff-h1-mm: 900 3.6rem $ff;
$ff-h1-hm: 900 6.4rem/6.8rem $ff;
$ff-btn: 800 1.4rem $fs;
$transition: all .2s ease-in-out;
$transition-5:all .5s ease-out;

$mg16: 1.6rem 0;
$shadow-box: 2px 2px 6px rgba(10,10,10,15%);